.chip-list {
  display: flex;
  gap: var(--spacing-sm-01);
}

.chip {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-xs);
  padding: var(--spacing-sm-01) var(--spacing-sm-03);
  height: 36px;
  border-radius: var(--radius-full);
  color: var(---text-primary);
  .icon {
    // 아이콘이 있을 경우
    flex-basis: 12px;
    width: 12px;
    height: 12px;
    background: #000;
  }
  &.is-type-primary {
    background: var(--surface-gray-02);
    &.is-click {
      color: var(--text-point);
      background: var(--surface-primary);
    }
  }
  &.is-type-secondary {
    color: var(--text-secondary);
    border: 1px solid var(--border-secondary);
    background: var(--surface-secondaryInvert);
    &.is-click {
      color: var(--text-primary);
      background: var(--surface-input);
      border: 1px solid var(--border-primary);
    }
  }
  &.is-type-shadow {
    color: var(--text-secondary);
    background: var(--surface-gray-02);
    &.is-click {
      color: var(--text-primary);
      background: var(--surface-input);
      box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.15);
    }
  }

  &.disabled,
  &:disabled {
    color: var(--text-tertiary);
    border:0;
    background: var(--surface-gray-01);
  }
}
