.credit-card {
  .CCKM {
    background: #776e64;
  }
  .CCBC {
    background: #fa3246;
  }
  .CCNH {
    background: #49a255;
  }
  .CCSG {
    background: #086aa9;
  }
  .CCCT {
    background: #086aa9;
  }
  .CCHM {
    background: #086aa9;
  }
  .CCAM {
    background: #653c9e;
  }
  .CCLO {
    background: #e11c25;
  }
  .CCHN {
    background: #009490;
  }
  .CCSS {
    background: #003cdc;
  }
  .CCUF {
    background: #1a1a19;
  }
  .CCKJ {
    background: #014193;
  }
  .CCSU {
    background: #0072bc;
  }
  .CCCJ {
    background: #0046ff;
  }
  .CCLG {
    background: #0046ff;
  }
  .CVSF {
    background: #1434cb;
  }
  .CMCF {
    background: #141413;
  }
  .CJCF {
    background: #0163bf;
  }
  .CCKE {
    background: #009490;
  }
  .CCDI {
    background: #15171b;
  }
  .CCWR {
    background: #257cd8;
  }
  .CCSS {
    background: #167bff;
  }
  .KAKO {
    background: #ffE300;
  }
  .ETC {
    background: #b8b8b8;
  }
}
